<div
  class="relative h-[500px] md:h-[723px] flex justify-center items-center z-20"
>
  <div
    class="bg-[url('https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/nadadores/index/cga9xvae5pf9ihrh4lb0')] h-[393px] w-[334px] md:h-[563px] md:w-[80%] md:max-w-[1184px] rounded-[32px] flex justify-center items-center bg-cover bg-center bg-no-repeat p-4"
  >
    <div
      class="flex flex-col justify-center items-center space-y-4 md:space-y-8 w-[70%] text-center md:w-full"
    >
      <p class="font-bold text-[32px] md:text-[55px] text-[#191825]">
        LA RUTA DEL NADADOR
      </p>
      <p class="text-[#2F326E] font-bold text-[24px] md:text-[44px]">
        ¡Nada sin parar y obtén recompensas!
      </p>
      <a href="/ruta-del-nadador">
        <button
          class="bg-[#0B5EBF] text-white font-bold text-[23px] px-8 py-4 md:px-12 md:py-6 rounded-[32px]"
          >Más Información
        </button>
      </a>
    </div>
  </div>
</div>
