<div class="relative overflow-x-clip">
  <div
    class="relative flex flex-col xl:flex-row justify-center lg:justify-between items-center py-8 lg:py-12 w-[80%] 2xl:w-[70%] mx-auto z-20"
  >
    <p
      class="text-[#2F326E] font-bold text-[33px] lg:text-[44px] mb-4 leading-tight"
    >
      Nuestros <br class="hidden xl:block" /> cursos
    </p>
    <div class="flex flex-col md:flex-row space-y-6 md:space-x-6 md:space-y-0">
      <div
        class="w-[320px] lg:w-[384px] lg:h-[616.5px] h-[480px] flex flex-col space-y-4 lg:space-y-8 shadow-[0px_4px_12px_rgba(0,0,0,0.1)] rounded-3xl overflow-hidden items-center lg:justify-center bg-white"
      >
        <img
          src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/nadadores/index/tk8jyflxoh1scr8geqkk"
          alt=""
          class="rounded-[8px] w-full lg:w-[298.5px] aspect-square object-cover object-center"
        />

        <p
          class="text-[#191825] font-semibold text-[23px] lg:text-[28px] text-left lg:text-center"
        >
          Curso para
          <br class="hidden lg:block" /> Alumnos UNI
        </p>
        <p
          class="max-w-[90%] lg:max-w-[75%] text-center text-[#19182580] text-lg"
        >
          Dirigido a alumnos y egresados de la Universidad Nacional de
          Ingeniería.
        </p>
      </div>
      <div
        class="w-[320px] lg:w-[384px] lg:h-[616.5px] h-[480px] flex flex-col space-y-4 lg:space-y-8 shadow-[0px_4px_12px_rgba(0,0,0,0.1)] rounded-3xl overflow-hidden items-center lg:justify-center bg-white"
      >
        <img
          src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/nadadores/index/fnolhkkle7hh3srbud3h"
          alt=""
          class="rounded-[8px] w-full lg:w-[298.5px] aspect-square object-cover object-center"
        />
        <p
          class="text-[#191825] font-semibold text-[23px] lg:text-[28px] text-left lg:text-center"
        >
          Curso para
          <br class="hidden lg:block" /> Comunidad NU
        </p>
        <p
          class="max-w-[90%] lg:max-w-[75%] text-center text-[#19182580] text-lg"
        >
          Dirigido al público en general a partir de 16 años de edad.
        </p>
      </div>
    </div>
  </div>
  <img src="/fish-bg.svg" alt="" class="absolute -top-20 z-10 min-w-[1110px]" />
</div>
