<div class="relative overflow-x-clip">
  <div
    class="relative flex flex-col justify-center items-center lg:justify-between py-8 lg:py-12 w-[80%] 2xl:w-[70%] mx-auto z-20"
  >
    <p
      class="text-[#2F326E] font-bold text-[33px] lg:text-[44px] mb-12 leading-tight lg:self-start"
    >
      Nuestras sedes
    </p>
    <div class="flex flex-col md:flex-row space-y-6 md:space-x-6 md:space-y-0">
      <div
        class="w-[320px] lg:w-[450px] 2xl:w-[576px] shrink-0 flex flex-col shadow-[0px_4px_12px_rgba(0,0,0,0.1)] rounded-3xl overflow-hidden bg-white"
      >
        <div
          class="rounded-[8px] lg:w-[450px] 2xl:w-[576px] h-[300px] lg:h-[411px] bg-[url('/headquarters.png')] bg-center bg-no-repeat bg-cover"
        >
        </div>
        <div class="p-6 space-y-4">
          <p
            class="text-[#191825] font-medium text-[20px] lg:text-[23px] text-left"
          >
            Piscina Ricardo Bentín
          </p>
          <button
            class="bg-[#0B5EBF] rounded-[16px] text-white py-3 font-bold w-full"
            >Ver el croquis</button
          >
        </div>
      </div>
      <div
        class="w-[320px] lg:w-[450px] 2xl:w-[576px] shrink-0 flex flex-col shadow-[0px_4px_12px_rgba(0,0,0,0.1)] rounded-3xl overflow-hidden bg-white"
      >
        <div
          class="rounded-[8px] lg:w-[450px] 2xl:w-[576px] h-[300px] lg:h-[411px] bg-[url('/headquarters.png')] bg-center bg-no-repeat bg-cover"
        >
        </div>
        <div class="p-6 space-y-4">
          <p
            class="text-[#191825] font-medium text-[20px] lg:text-[23px] text-left"
          >
            Piscina Mercedes Cabello
          </p>
          <button
            class="bg-[#0B5EBF] rounded-[16px] text-white py-3 font-bold w-full"
            >Ver el croquis</button
          >
        </div>
      </div>
    </div>
  </div>
  <img
    src="/fish-bg2.svg"
    alt=""
    class="absolute -bottom-72 right-0 z-10 min-w-[800px]"
  />
</div>
