<div
  class="w-full bg-[#2F326E] h-[254px] md:h-[361px] flex items-center justify-center"
>
  <div class="flex flex-col items-center">
    <div class="mb-6 md:mb-8">
      <img src="/logo-blanco.svg" alt="logo blanco" />
    </div>
    <p class="text-white md:text-2xl font-extrabold italic mb-8 md:mb-12">
      Nademos hacia el futuro
    </p>
    <div class="flex space-x-8">
      <a href="https://www.facebook.com" target="_blank">
        <img src="/facebook.svg" alt="facebook" />
      </a>
      <a href="https://x.com" target="_blank">
        <img src="/twitter.svg" alt="twitter" />
      </a>
      <a href="https://www.instagram.com/" target="_blank">
        <img src="/instagram.svg" alt="instagram" />
      </a>
    </div>
  </div>
</div>
