<div
  class="relative w-full bg-[#2F326E] h-[254px] md:h-[361px] flex items-center justify-center z-10"
>
  <div class="flex flex-col items-center">
    <div class="mb-6 md:mb-8">
      <img src="/logo-blanco.svg" alt="logo blanco" />
    </div>
    <p class="text-white md:text-2xl font-extrabold italic mb-8 md:mb-12">
      Nademos hacia el futuro
    </p>
    <div class="flex space-x-8">
      <a href="https://www.facebook.com/NadadoresUNI" target="_blank">
        <img src="/facebook.svg" alt="facebook" />
      </a>
      <a href="https://www.instagram.com/_nadadores_uni" target="_blank">
        <img src="/instagram.svg" alt="instagram" />
      </a>
      <a href="https://www.tiktok.com/@nadadoresuni" target="_blank">
        <img src="/tiktok.svg" alt="tiktok" class="h-8 w-8" />
      </a>
      <a href="https://api.whatsapp.com/send/?phone=51914022469&text=Hola%2C+me+gustar%C3%ADa+informaci%C3%B3n&type=phone_number&app_absent=0" target="_blank">
        <img
          src="/whatsapp.png"
          alt="tiktok"
          class="h-[46px] w-[46px] -mt-[6px]"
        />
      </a>
    </div>
  </div>
</div>
