---
import Layout from "../../layouts/Layout.astro";
import Table from "../../components/Certificates/Table.vue";
import Button from "@/components/ui/button/Button.vue";
---

<Layout title="Productos">
  <img
    src="https://res.cloudinary.com/dqpg07sfp/image/upload/v1738973642/Certificados_Portada_mwzazg.png"
    alt="googles"
    class="w-full max-h-[600px] object-cover"
  />
  <div class="px-8 sm:px-20 py-6 sm:py-12 max-w-[1440px] mx-auto">
    <p
      class="text-[#2F326E] font-bold text-[33px] lg:text-[44px] mb-4 leading-tight text-center sm:text-left"
    >
      Busca un <br class="sm:hidden" /> certificado
    </p>
    <Table client:load />
    <div
      class="relative bg-[#23255B] rounded-[32px] px-10 py-8 lg:px-20 lg:py-12 text-white mt-28"
    >
      <div class="max-w-[500px]">
        <p class="text-[34px] font-bold">¡Solicita tu certificado!</p>
        <p class="mb-4">
          Si eres egresado o estás a punto de egresar y necesitas el certificado
          con urgencia, solicítalo aquí.
        </p>
        <a href="/certificates/emision">
          <Button size="lg" class="rounded-lg font-bold w-[200px]"
            >Solicitar
          </Button>
        </a>
      </div>
      <img
        class="hidden lg:block absolute bottom-0 right-20"
        src="https://res.cloudinary.com/dkljgkuyy/image/upload/f_auto,q_auto/v1/nadadores/certificates/vfwdhbsn4imq0eeuzhbw"
        alt="nadadora"
      />
    </div>
  </div>
  <div class="bg-[#89BFFF4D] relative overflow-hidden">
    <div
      class="flex flex-col md:flex-row justify-evenly gap-8 items-center py-12 max-w-[80%] mx-auto"
    >
      <div>
        <p class="text-[#2F326E] font-bold text-[34px] font-roboto">
          Preguntas frecuentes
        </p>
      </div>
      <div class="max-w-[552px] z-10 font-inter flex flex-col gap-4">
        <div class="bg-white p-6 rounded-lg shadow">
          <p class="text-[#403556] font-bold">¿Cómo lo obtengo?</p>
          <p>
            Al final de cada ciclo académico de la Universidad Nacional de
            Ingeniería, se habilitará un formulario en nuestra página web para
            que puedas solicitar tu certificado de horas extracurriculares.
          </p>
        </div>
        <div class="bg-white p-6 rounded-lg shadow">
          <p class="text-[#403556] font-bold">Requisitos</p>
          <p>
            Tener como mínimo 25 horas de asistencia acumuladas entre los
            periodos matriculados.
          </p>
        </div>
      </div>
    </div>
    <img src="/fish-bg.svg" alt="" class="absolute -top-64 min-w-[1110px]" />
  </div>
</Layout>
